## Ternary Operators / Conditionals

In [1]:
# normal if else condition

condition = True

if condition:
    x = 1
else:
    x = 0
    
print(x)

1

In [2]:
# using ternary expression

y = 1 if condition else 0
print(y)

1

## Underscore placeholders

increases readabilitiy of large numbers

In [7]:
# without underscore placeholders

num_1 = 1000000000
num_2 = 1000000

In [8]:
# without underscore placeholders

num_1 = 10_000_000_000
num_2 = 1_000_000

In [9]:
num_1 + num_2

10001000000

In [10]:
# to include placeholders in the output as well

f"{num_1 + num_2:,}"

'10,001,000,000'

## Enumerate

In [7]:
names = ["Bruce", "Natasha", "Tony", "Logan", "Peggy"]

In [8]:
# normal code to access index while looping

index = 0
for name in names:
    print(index, name)
    index += 1

0 Bruce
1 Natasha
2 Tony
3 Logan
4 Peggy

In [9]:
# there is a better way to do this

for index, name in enumerate(names): # enumerate(iterable, start)
    print(index, name)

0 Bruce
1 Natasha
2 Tony
3 Logan
4 Peggy

## zip

In [10]:
super_heroes = ["Batman", "BlackWidow", "Ironman", "Wolverine", "Captain Carter"]

In [12]:
# normal way of looping two lists at once

for index, name in enumerate(names):
    hero = super_heroes[index]
    print(f"{name} is actually {hero}")

Bruce is actually Batman
Natasha is actually BlackWidow
Tony is actually Ironman
Logan is actually Wolverine
Peggy is actually Captain Carter

In [15]:
# there is a better way to do this usins zip function

# list(zip(names, super_heroes))
for name, super_hero in zip(names, super_heroes):
    print(f"{name} is actually {super_hero}")

Bruce is actually Batman
Natasha is actually BlackWidow
Tony is actually Ironman
Logan is actually Wolverine
Peggy is actually Captain Carter

## unpacking

In [17]:
items = (1, 2)

a, b = items

(1, 2)

anytime wants to ignore the variable, the convention is `_`

In [18]:
a, _ = items

In [21]:
# * - rest operator

a, b, *c = (1, 2, 3, 4, 5)
c

[3, 4, 5]

In [24]:
a, b, *c, d = (1, 2, 3, 4, 5)
print(c, d, sep=" - ")

[3, 4] - 5

## setattr & getattr

In [25]:
class Person:
    pass

In [27]:
person = Person()

In [28]:
# dynamically adding attributes and values to the objects

person.first_name = "Bruce"
person.last_name = "Wayne"

In [29]:
person.first_name

'Bruce'

In [30]:
person.last_name

'Wayne'

In [31]:
first_key = "first_name"
first_val = "Bruce"

In [34]:
# what if we wants to use / set the value of a variable as attribute
# eg., {first_key: first_val} this should become {"first_name": "Bruce"}

# if we set the attribute like this
person.first_key = first_val # this will set the attribute name literally as first_key
person

In [37]:
# in order to set so

setattr(person, first_key, first_val)
person.first_key

'Bruce'

In [38]:
# to get a value

getattr(person, first_key)

'Bruce'

In [43]:
# actual use case of setattr & getattr

person_info = {"first_name": "Peggy", "last_name": "Carter"}

In [45]:
for key, value in person_info.items():
    setattr(person, key, value)

In [46]:
for key in person_info.keys():
    getattr(person, key)

## getpass

inputting secret information

## help & dir

In [47]:
import smtpd

C:\Users\karthick.dhilip\AppData\Local\Temp\ipykernel_10484\1412247374.py:1: DeprecationWarning: The smtpd module is deprecated and unmaintained and will be removed in Python 3.12.  Please see aiosmtpd (https://aiosmtpd.readthedocs.io/) for the recommended replacement.
  import smtpd

In [ ]:
help(smtpd)

In [50]:
from datetime import datetime

In [51]:
dir(datetime)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']